name: Deploy Chess Game

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Upload game
        uses: actions/upload-pages-artifact@v1
        with:
          path: game

      - name: Deploy
        uses: actions/deploy-pages@v1
